.efect-elevation-normal{
	box-shadow: 2px 2px 15px rgba(0,0,0,0.28);
}

.efect-elevation{
	
	box-shadow: 2px 2px 15px rgba(0,0,0,0.28);
	
}
.efect-elevation:hover{
	box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	transform:  scale(1.05);
	transition: 0.5s ease-in-out;
}

.bg-white{
	background-color: white;
}

